html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.ant-switch {
  height: 32px;
  padding: 4px;
}

.ant-switch .ant-switch-handle {
  top: 6px;
  bottom: -6px;
}
